services:
  django:
    image: todo-app:django-observability
    container_name: todo-app
    build:
      context: .
      dockerfile: Dockerfile
    restart: on-failure
    ports:
      - "9001:9000"
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/mediafiles
    env_file:
      - .env
    environment:
      - DB_HOST=host.docker.internal
    extra_hosts:
      - "host.docker.internal:host-gateway"
volumes:
  static_volume:
  media_volume:
