apiVersion: 1

deleteDatasources:
  - name: Prometheus
    orgId: 1
  - name: Loki
    orgId: 1

datasources:

  - name: Prometheus
    type: prometheus
    uid: prometheus
    orgId: 1
    access: proxy
    url: http://obs-prometheus:9090
    isDefault: true
    editable: false
    version: 1

  - name: Loki
    type: loki
    uid: loki
    orgId: 1
    access: proxy
    url: http://obs-loki:3100
    isDefault: false
    editable: false
    version: 1
    jsonData:
      maxLines: 1000
